* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    color: rgb(93, 96, 99);
    background-color: rgb(234, 237, 240);
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.3;
}


.formulario {
    text-align: center;
}


.speaker-form {
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 80%;
  padding: 50px;
  margin: 40px auto;
}

.line-content {
    margin-bottom: 20px;
  }

.line-content input[type="text"]{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .line-content input[type="email"]{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .abstract-style {
    width: 100%;
    height: 60px;
    resize: none;
  }
  
  fieldset {
    padding: 10px;
    border: 2px solid rgb(214, 217, 220);
  }