.super-mario {
    width: 200px;
    position: absolute;
    z-index: 3;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 368px;
    left: 10px;
    z-index: 1;
  }
  
  .baloon {
  position: absolute;
  top: 550px;
  z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 588px;
    left: 30px;
    z-index: 5;


  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 730px;
    left: 300px;
    z-index: 6;
  }

  /* Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */